.App {
  text-align: center;
  justify-self: center;
}
.board {
  display: inline-block;
  margin: 20px 0px;
  padding: 20px;
  background-color: #454a9b;
  border-radius: 10%;
}
.row {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.row-content {
  font-size: 2px ;
  width: 50px;
  height: 50px;
  border: 0.5px solid black;
  border-radius: 50%;
  margin-bottom: 2px;}