.App {
  text-align: center;

}
.row {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.row-content {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 2px;}